.about-height {
	height: 72vh;
}

.progress {
	width: 0vw;
	transition: width 1s ease;
}

.typewriter {
	animation: blinker 1s infinite;
}

.skills {
	min-height: 70vh;
}

@keyframes blinker {
	60% {
		opacity: 0;
	}
}