<div class="w-6/6 md:w-4/5 about md:pt-20 pt-5 md:mx-auto mt-0 flex flex-col-reverse md:flex-row ">
	<!-- Education Column -->
	<section class="w-2/12 md:w-1/5 skills border-l-3 border-gray-100 md:mt-12 mt-0 sm:mt-0 ml-2 md:mx-auto">
		<div class="h-full pr-4 flex flex-col align-center">
			<div class="text-4xl text-red-500 font-bold dark:text-white tracking-wider mb-6" *ngIf="skillSet && skillSet.length > 0">
				Education
			</div>

			<div @appearFromBottom *ngFor=" let skill of skillSet;let even = even; let odd = odd;" 
			class="card w-80 ml-4 md:ml-0 md:w-96 h-24 bg-gray-700 md:bg-gray-50 dark:bg-gray-800 shadow-xl rounded-lg flex align-center flex-col border-b-4 mb-10"
			[ngClass]="['border-' + skill.colorName, odd ? 'md:float-right':'']" 
			>
				<div class="row flex align-center">
					
					<span class="font-bold text-white md:text-black dark:text-white pt-2 pl-4">
						{{ skill.name }}
					</span>
				</div>
				<div class="">
					<div class="font-light text-white md:text-black dark:text-white pl-6">
						{{ skill.description }}
					</div>
					<div class="h-3 ml-6 mr-4 mt-2 relative max-w-xl rounded-full overflow-hidden">
						<div class="w-full p-8 h-full bg-gray-200  absolute"></div>
						<div class="w-full p-8 absolute progress"  [ngClass]="'bg-'+skill.colorName" [ngStyle]="{width : skill.percentage}"></div>
					</div>
				</div>
				</div>
			</div>
		</section>	
	
<!-- <div class="w-full contact mt-8 pl-4 pr-4 mb-8 md:pl-16 flex flex-col md:hidden">
			<div class="w-full text-2xl text-red-500 font-bold dark:text-gray-50 " *ngIf="contactVias && contactVias.length > 0">
				Contact Me
			</div>
			<div class="w-full flex mt-4 ml-2 md:ml-4 md:mt-8 flex-wrap ">
				<span *ngFor="let contact of contactVias" class="cursor-pointer mr-12">
					<a [attr.href]="contact.url">
					<img class=" h-10 w-10 "[attr.src]="'assets/contact/' + contact.name + '.svg'">
				</a>
				</span>
			</div>

		</div>
	</div> -->

	<app-brain-component class=" w-5/6 mx-auto md:mx-0 md:w-4/5"></app-brain-component>
	</div>
